.professor {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  row-gap: 20px;
}

.prof-container {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
}

.prof {
  width: 170px;
  height: 220px;
  background: #2a2929;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
  text-align: center;
}

.prof_top-left,
.prof_top-right {
  background: linear-gradient(90deg, #907b01 0%, #bca001 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
}
.prof_top-left div {
  margin-top: 3px;
  width: 30px;
  height: 20px;
  background: linear-gradient(90deg, #907b01 0%, #bca001 100%);
  transform: rotate(89deg);
  transform-origin: 50% 50%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.prof_top-right {
  right: 0;
  bottom: 0;
}
.prof_top-right h1 {
  rotate: 180deg;
  margin-top: 3px;
  background: linear-gradient(90deg, #907b01 0%, #bca001 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prof_top-right div {
  width: 30px;
  height: 20px;
  background: linear-gradient(90deg, #907b01 0%, #bca001 100%);
  transform: rotate(89deg);
  transform-origin: 50% 50%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.prof_top-middle {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prof_top-middle h1 {
  background: -webkit-linear-gradient(45deg, #eee, #8d8383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pirata One";
  line-height: 30px;
  font-size: 35px;
}
