.professor {
  display: flex;
  flex-direction: row;
  height: 250px;
  overflow: hidden;
  margin-left: -50px;
}

.prof-container {
  display: flex;
  flex-direction: row;
  animation: animate 20s linear infinite;
}

.prof {
  margin-left: 20px;
  width: 120px;
  height: 170px;
  background: linear-gradient(45deg, #eee, #8d8383);
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.prof-top {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.prof-top p {
  background: rgb(245, 22, 22);
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 7px;
}

.prof-top-left,
.prof-bottom-right {
  color: #383737;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
}

.prof-bottom-right svg {
  width: 20px;
  height: 20px;
}
.prof-top-left svg {
  width: 20px;
  height: 20px;
}
.prof-top-left h1 {
  font-size: 30px;
}
.prof-bottom-right h1 {
  font-size: 30px;
}

.prof-top-left svg {
  margin-top: 3px;
}
.prof-bottom-right {
  right: 0;
  bottom: 0;
}
.prof-bottom-right h1 {
  rotate: 180deg;
  margin-top: 3px;
}
.prof-bottom-right svg {
  transform: rotate(180deg);
}

.prof_middle {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prof_middle h1 {
  background: -webkit-linear-gradient(45deg, #222121, #615a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pirata One";
  line-height: 30px;
  font-size: 25px;
}

.prof_bottom {
  font-family: "Poppins";
  line-height: 15px;
  text-align: start;
  width: 130px;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}
.prof_bottom svg {
  color: #383737;
}
.prof-heading {
  padding: 2rem 2rem;
}

.prof-heading h1 {
  font-family: "Poppins";
  line-height: 35px;
  text-align: center;
  text-shadow: 10px 10px 20px #000;
}
@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
